body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.patients-list {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-card {
    display: block;
    background-color: #e9e9e9;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.patient-card:hover {
    background-color: #d4d4d4;
}

.patient-card span {
    display: block;
    margin-bottom: 5px;
}

.patient-card span:last-child {

    margin-bottom: 0;

}


.patient-details {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detail-card {
    background-color: #d4d4d4;
    padding: 15px;
    border-radius: 5px;
    margin-bottom:10px;
}

.detail-card p {
    margin-bottom: 10px;
}

.detail-card p:last-child {
    margin-bottom: 0;
}

.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.error{
    font-weight: bold;
    color: red;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
    text-align: center;
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Removes the default underline */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button-style:hover {
    background-color: #555; /* Slightly lighter gray when hovered */
    cursor: pointer;
}

.note_history{
    background-color: white;
    border-radius: 5px;
    margin:10px;
    min-height: 20px;
    height: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-group textarea{
    width: 560px;
    overflow-y: auto;
}

#updateHistoryDiv label, #updateHistoryDiv textarea{
    display:block;
}

#updateHistoryDiv label{
    font-weight: bold;
    margin-top: 20px;
}
.notes{
    background-color: rgba(236, 236, 236, 80%);
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.notes p {
    white-space: pre-line;
}

.note_history li {
    list-style-type:square;
}

