<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <title>Liste des patients</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<div class="patients-list">
  <a class="button-style" id="disconnection_button" th:href="@{/logout}">Se déconnecter</a>
  <h2>Liste des patients</h2>
  <ul>
    <li th:each="patient : ${patients}">
      <a th:href="@{'/informations?patientId=' +
        ${patient.getId()}}">
        <div class="patient-card">
          <span th:text="${patient.prenom} + ' ' + ${patient.nom}"></span>
          <span th:text="${patient.dateDeNaissance}"></span>
        </div>
      </a>
    </li>
  </ul>
  <a class="button-style" th:href="@{'/addPatient'}">Ajouter un patient</a>
</div>

</body>
</html>
