<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Liste des patients</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<div class="patients-list">
  <h2>Liste des patients</h2>
  <ul>
    <li th:each="patient : ${patients}">
      <a th:href="@{'/patient/details/' + ${patient.id}}">
        <div class="patient-card">
          <span th:text="${patient.prenom} + ' ' + ${patient.nom}"></span>
          <span th:text="${patient.dateDeNaissance}"></span>
        </div>
      </a>
    </li>
  </ul>
</div>

</body>
</html>
