<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Détail du patient</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<div class="patient-details">
  <h2>Détails du patient</h2>
  <div class="detail-card">
    <p><strong>Prénom :</strong> <span th:text="${patient.prenom}"></span></p>
    <p><strong>Nom :</strong> <span th:text="${patient.nom}"></span></p>
    <p><strong>Date de naissance :</strong> <span th:text="${patient.dateDeNaissance}"></span></p>
    <p><strong>Genre :</strong> <span th:text="${patient.genre}"></span></p>
    <p><strong>Adresse postale :</strong>
      <span th:text="${patient.adressePostale != null && !patient.adressePostale.isEmpty() ? patient.adressePostale : 'non renseigné'}"></span>
    </p>
    <p><strong>Numéro de téléphone :</strong>
      <span th:text="${patient.numeroDeTelephone != null && !patient.numeroDeTelephone.isEmpty() ? patient.numeroDeTelephone : 'non renseigné'}"></span>
    </p>

    <a th:href="@{'/majinfo?patientId=' + ${patient.id}}">Mettre a jour les informations</a>
  </div>
</div>

</body>
</html>
